@import url("leaflet/dist/leaflet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

/* <body>
 * fixed body gives us full control over layout by setting up our own viewport,
 * detatched from window 
 * 
 * safe-area-inset-* variables are used to calculate viewport size for iOS
 * (prevents rendering underneath the "notch" and home button) 
*/
body {
  position: fixed;
  top: env(safe-area-inset-top);
  left: env(safe-area-inset-left);
  width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
  min-height: calc(
    100% - env(safe-area-inset-top) - env(safe-area-inset-bottom)
  );
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  user-select: none;
}

#root {
  min-height: calc(
    100% - env(safe-area-inset-top) - env(safe-area-inset-bottom)
  );
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  max-height: calc(
    100% - env(safe-area-inset-top) - env(safe-area-inset-bottom)
  );
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  background: transparent;
  overscroll-behavior: none;
}

main {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
}

#ios-top {
  width: 100vw;
  height: env(safe-area-inset-top);
  background-color: #18181b;
  position: fixed;
  top: 0;
  left: 0;
}

#ios-bottom {
  width: 100vw;
  height: env(safe-area-inset-bottom);
  background-color: #18181b;
  position: fixed;
  bottom: 0;
  left: 0;
}

.toaster {
  margin-top: env(safe-area-inset-top);
}

.leaflet-container {
  height: 70vh;
}

.anticon {
  line-height: 0;
  vertical-align: 1px;
}

.text-stroke {
  -webkit-text-stroke-color: #00000022;
  -webkit-text-fill: transparent;
  -webkit-text-stroke-width: 0.25px;
}
